#logo{width: 120px;}
.view-services .views-row .service-icon{color:#002945;}
#backtotop:before{background:#002a45;}
h1, h2, h3, h4, h5, h6{color:#002945;}
a{color:#002945;}
.header_top_wrapper{background:#002945;}
#backtotop{box-shadow:0 0 0 4px #002945;}
.main-splash{bottom:100px}
ul.sf-menu.sf-style-none.sf-horizontal > li > a{color:#293641;}
.btn a{background:#002a45;color:#fff}
body{color:#2a3944;}
.footer-content{font-size:11px;background:#002945;}
.footer-wrapper{font-size:11px;background:#002945;}
.fa-mobile{font-size:18px;}
